<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Создание пользователя</title>
</head>
<body>
<form id="userForm" th:object="${userDTO}" th:action="@{/create}" method="post">
  <label for="username">Логин:</label>
  <input type="text" id="username" name="username" th:field="*{userName}" required>
  <br>
  <br>
  <label for="firstname">Имя:</label>
  <input type="text" id="firstname" name="firstname" th:field="*{firstName}" required>
  <br>
  <br>
  <label for="lastname">Фамилия:</label>
  <input type="text" id="lastname" name="lastname" th:field="*{lastName}" required>
  <br>
  <br>
  <label for="email">email:</label>
  <input type="text" id="email" name="email" th:field="*{email}" required>
  <br>
  <br>
  <label for="password">Пароль:</label>
  <input type="password" id="password" name="password" th:field="*{password}" required>
  <br>
  <br>
  <label for="role">Роль:</label>
  <input type="text" id="role" name="role" th:field="*{role}" required>
  <br>
  <br>
  <button type="submit">Создать пользователя</button>
</form>
<p><a href="index.html" th:href="@{~/}">
  <button>Назад</button>
</a></p>
</body>
</html>