<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Создание пользователя</title>
</head>
<body>
<form id="userForm" th:action="@{/create}" method="post">
  <label for="username">Логин:</label>
  <input type="text" id="username" name="username" required>
  <br>
  <br>
  <label for="role">Фамилия:</label>
  <input type="text" id="firstname" name="firstname" required>
  <br>
  <br>
  <label for="role">Имя:</label>
  <input type="text" id="lastname" name="lastname" required>
  <br>
  <br>
  <label for="role">email:</label>
  <input type="text" id="email" name="email" required>
  <br>
  <br>
  <label for="password">Пароль:</label>
  <input type="password" id="password" name="password" required>
  <br>
  <br>
  <label for="role">Роль:</label>
  <input type="text" id="role" name="role" required>
  <br>
  <br>
  <button type="button" onclick="submitForm()">Создать пользователя</button>
</form>
<script>
  function submitForm() {
    var form = document.getElementById('userForm');
    var formData = {
      userName: form.elements.username.value,
      password: form.elements.password.value,
      firstName: form.elements.firstname.value,
      lastName: form.elements.lastname.value,
      email: form.elements.email.value,
      role: form.elements.role.value
    };
    var jsonData = JSON.stringify(formData);
    fetch(form.action, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: jsonData
    });
  }
</script>
<p><a href="index.html" th:href="@{~/}">
  <button>Назад</button>
</a></p>
</body>
</html>