<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Удаление пользователя</title>
</head>
<body>
<form id="deleteUserForm" th:action="@{/delete}" method="post">
  <label for="username">Логин пользователя:</label>
  <input type="text" id="username" name="username" required>
  <br>
  <br>
  <button type="button" onclick="submitForm()">Удалить пользователя</button>
</form>
<script>
  function submitForm() {
    var form = document.getElementById('deleteUserForm');
    var formData = {
      userName: form.elements.username.value,
    };
    var jsonData = JSON.stringify(formData);
    fetch(form.action, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: jsonData
    });
  }
</script>
<p><a href="index.html" th:href="@{~/}">
  <button>Назад</button>
</a></p>
</body>
</html>